.big{
    height: 1000px;
}
.big .reg{
    width: 1198px;
    height: 700px;
    border: 1px solid gray ;
}
.big .reg p{
    width: 1190px;
    line-height: 60px;
    background-color: gray;
    position: relative;
}
.big .reg b{
    width: 60px;
    font-weight: 400;
    position:  absolute;
    right: 10px;
    padding-left: 10px;
}
.big .reg table{
    width: 500px;
    height: 500px;
    margin-left: 350px;
    margin-top: 15px;
    background-color: rgb(16, 192, 154);
}
.big .reg .size{
    width: 250px;
    height: 25px;
}
.big .reg .size1{
    width: 100px;
    height: 35px;
    background-color: rgb(148, 23, 23);
    color: #ffff;
    margin-left: 50px;
}
.big .reg .r{
    padding-right: 15px;
   text-align: right;
}
.return {
    width: 100px;
    width: 30px;
    line-height: 30px;
    background-color: rgb(134, 96, 96);
    position: fixed;
    top: 200px;
    left: 50%;
    margin-left: 700px;;
}
.return a{
    clear: #ffff;
}